In [23]:
import re

In [24]:
ee_id =re.compile(r'\d{8}')

In [25]:
last_first=re.compile(r'\w+,\s\w+')

In [31]:
dollar=re.compile(r'\$[\d,]+\.\d{2}')

In [32]:
line="12345678 smith, bobby $1,534.25  $26.99"

In [33]:
ee_id.search(line)

In [34]:
last_first.search(line)

In [35]:
dollar.search(line)

In [36]:
line_re=re.compile(rf'({ee_id.pattern})\s+({last_first.pattern})\s+({dollar.pattern})\s+({dollar.pattern})')

In [37]:
found=line_re.search(line)

In [38]:
print(found)

<re.Match object; span=(0, 39), match='12345678 smith, bobby $1,534.25  $26.99'>

In [40]:
ee_id, name, dollar1, dollar2=found.groups()

In [42]:
# import data to pandas 
import pandas as pd 
df=pd.DataFrame([[ee_id, name, dollar1, dollar2]],columns=['ee_id','name','dollar1','dollar2'])

In [43]:
df

      ee_id          name    dollar1 dollar2
0  12345678  smith, bobby  $1,534.25  $26.99

In [44]:
#save to excel
df.to_excel("output.xlsx")